<h2>Contacts</h2>

<form action="/contacts" method="POST">

  <div class="form-group">
    <label>Have a question?! Then ask</label>
    <input type="email" name="userEmail" class="form-control" placeholder="Enter your email">
  </div>

    <textarea rows="10" cols="40" autofocus name="messageVisitor" ></textarea><br />
    <button type="submit" class="btn btn-primary">Send</button>

</form>